@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f4f6; /* cinza claro */
  --foreground: #111827; /* texto escuro */
  --card: #ffffff;
  --border: #e5e7eb;
}

[data-theme='dark'] {
  --background: #050505; /* pure black GSA */
  --foreground: #ffffff;
  --card: #111827; /* cinza muito escuro */
  --border: #1f2937;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background 0.3s ease, color 0.3s ease;
}