/* Importação direta para evitar erro de 'Unknown At-Rule' */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #f3f4f6;
  --foreground: #111827;
}

[data-theme='dark'] {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: sans-serif;
}